# Variáveis de ambiente locais
.env

# Dados persistidos do MySQL (docker)
mysql-data/

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# Configurações pessoais de IDE
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.dbvenv/
__pycache__/
